<div class="container">
  <div class="row">
    <form>
      <div class="form-group">
        <input type="text" ng-model="haikuLine1" class="form-control" id="haikuLine1" placeholder="Enter a 5 syllable line">
      </div>
      <div class="form-group">
        <input type="text" ng-model="haikuLine2" class="form-control" id="haikuLine2" placeholder="Enter a 7 syllable line">
      </div>
      <div class="form-group">
        <input type="text" ng-model="haikuLine3" class="form-control" id="haikuLine3" placeholder="Enter a 5 syllable line">
      </div>
      <div class="alert alert-success" ng-show="syllablesCorrect">{{ message }}</div>
      <button type="submit" ng-click="checkSyllables()" class="btn btn-default">Check Syllables</button>
    </form>
  </div>
</div>